@charset "utf-8";
/* CSS Document */
/*ESTILO DA PAGINA*/
body{
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
}

/*ESTILO DA AREA PRINCIPAL*/
.principal{
	width:70%;
	margin:20px auto;
}


.header{
}
/*ESTILO DA NAVBAR*/
.navbar{
 	background-color: #30312F;	
	height: 50px;
	position: relative;
}

.navbar li{
	list-style:none;
	display:inline-block;
	padding: 5px 30px 5px 30px;
	border-right: 1px groove #60B822;
}
.navbar a{
	color:#60B822 ;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1px;
	transition: color .2s linear;
}

.navbar a:hover{
	color:white;
	
}

.navbar a img{
	padding: 0 40%;
}

/*ESTILO GALERIA*/
.galeria{
	padding: 2%;
}
.titulo-galeria{
	font-weight: normal;
}
.galeria-post{
	width: 49%;
	position: relative;
	display:inline-table;
}
.post-titulo{
	color:#42629B;
	text-decoration: none;
}
.post-texto{
	color: #737373;
	padding: 0 10% 0 0;
}
.more-g{
	text-align: end;
	padding: 0 10% 0 0;
	float: right;
}

/*ESTILO GALERIA PROJETOS*/

.galeria-projetos{
	padding: 2%;
}
.projeto-post{
	width: 33%;
	position: relative;
	display:inline-table;
}
.projeto-titulo{
	font-weight: bold;
}
.projeto-texto{
	color: #737373;
	padding: 0 35px 0 0;
}
.projeto-imagens{
	border: 1px solid #E1E1E1;
	padding: 4px;
}

/*ESTILO RODAPE*/
.rodape{
	background-color:#30312F;
	text-align: center;
	color: #B3B3B3;
 	padding: 20px;
}